<h1>ROAST</h1>
<h1>Feel the Burn!</h1>
<p>Roast someone</p>
<p>List</p>
<!-- <ul class="list-group">
  <% @users.each do |f| %>
  <li class="list-group-item"><%= link_to f.body, user_path(f) %></li>
  <% end %>
</ul> -->
<p>Popular roasts</p>
